<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">Employee Directory</a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">View Employee List</a><li>
                <li><a href="#/new_employee">Create New Employee</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="form-group has-feedback has-feedback-left search-bar">
    <input ng-model="searchText" type="search" class="form-control" placeholder="search">
    <i class="form-control-feedback glyphicon glyphicon-search "></i>
</div>

<div class="scroller">
    <ul class="list-group list">
        <li ng-repeat="employee in employees | filter : searchText" class="list-group-item">
            <a href="#/{{employee._id}}">
                <img ng-src="/images/uploads/{{employee.name.replace(' ', '')}}.png" alt="">
            </a>

            <p><a href="#/{{employee._id}}">{{employee.name}}</a></p>
            <p>{{employee.title}}</p>
            <p class="count"><a href="#/{{employee._id}}/reports" >{{employee.dirReports.length}}</a></p>
            <button type="button" class="btn btn-default chevron" ng-click="viewDetail(employee)">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </li>
    </ul>
</div>
